<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volive.whitecab">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerificaionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyRidesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RideDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RideCompletedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ComplaintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RideLaterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PickLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DropLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DropOffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HelpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.LaterBookingActivity" />
        <activity android:name=".Activities.TermsActivity"></activity>
    </application>

</manifest>